* {
    margin: 0px;
    padding: 0px;
}
.row1 {
    position: relative;
    background-color: #9cd696;
}
#item{
    position: relative;
}
.row1 input[type=text] {
    position: relative;
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    border-left: none;
    border-right: none;
    top: 0px;
    box-sizing: border-box;
    clear: both;
    padding: 10px;
    background-color: #9cd696;
    box-shadow: none;
    font-size: 16pt;
}
.row1 input[type=image] {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: 0px;
}
.row1 textarea {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    border: none;
    padding: 10px;
    margin: 0px;
    background-color: #9cd696;
    box-shadow: none;
    font-size: 16pt;
}
#mainWrapper {
    max-width: 777px;
    height:110%;
    margin: auto;
    border: 1px solid gray;
    box-sizing: border-box;
}
#content{
    position: relative;
}
#head .title {
    text-align: center;
    padding: 6px;
    font-size: 22pt;
    background-color: #acf2e4;
}
#separator {
    padding: 6px;
    width: 100%;
    text-align: center;
    line-height: 50%;
    background-color: #acf2e4;
    box-sizing: border-box;
}
#loading {
    padding: 6px;
    width: 100%;
    text-align: center;
    line-height: 50%;
    background-color: #acf2e4;
    box-sizing: border-box;
}
.item {
    height: 100px;
    box-sizing: border-box;
    background-color: #ff8989;
    border-top: 1px solid gray;
}
.item:nth-child(odd) {

    /* background-color: #ff8989; */
}
.item:nth-child(even) {

    /* background-color: #a55d85; */
}
.item .itemBody {
    padding: 10px;
    width: 95%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    overflow:hidden;
}
.item .itemControl {
    float: left;
    width: 5%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    line-height: 100px;
}
.item:after {
    clear: both;
}

.shown{
    visibility: visible;
}

.hidden{
    visibility:hidden;
    
}
.required{
    background-color: red;
}
.relative{
    position: relative;
    display: block;
}
.error{
    border: 1px solid red;
}
.notError{
    border:none;
}

