#popupWrapper{
    display: none;
    width: 100%;
    height:100%;
    position: absolute;
    top: 0px;
    left:0px;
    z-index: 100;
    padding: 100px;
}

#popupWrapper #popupContent{
    width: 70%;
    border: 1px solid gray;
    background-color: white;
    margin: auto;
    padding: 30px;
    z-index: 1000;
}

#imgContainer{
    width: 300px;
    height:300px;
    margin: auto;
    border: 1px solid blue;
    overflow: auto;


}

#form{

}

#formHeader{
    position: relative;
    min-height: 50px;
}

#form div{
    position: relative;
}

#formHeader img{
    position: absolute;
    top:0px;
    left:0px;
    z-index: 10;
}

#form textarea{
    z-index: 1;
    border-radius: 0px;
    min-height:50px;
    padding-left: 60px;
    max-width: 100%;
}

#form #postImage{
    display: none;
}

#postImagePreview{
    display: none;
}

.postWrapper{
    border: 1px solid #B0BEC5;
    padding: 5px;
}

#follow{
    max-height: 100px;
    overflow: scroll;
    margin: 10px;
}


*{
    font-family: 'Open Sans', sans-serif;
}

.well {
    margin-top:-20px;
    background-color:#007FBD;
    border:2px solid #0077B2;
    text-align:center;
    cursor:pointer;
    font-size: 25px;
    padding: 15px;
    border-radius: 0px !important;
}

.well:hover {
    margin-top:-20px;
    background-color:#0077B2;
    border:2px solid #0077B2;
    text-align:center;
    cursor:pointer;
    font-size: 25px;
    padding: 15px;
    border-radius: 0px !important;
    border-bottom : 2px solid rgba(97, 203, 255, 0.65);
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #F1F1F1;
}



.bg_blur
{
    background-image:url('http://data2.whicdn.com/images/139218968/large.jpg');
    height: 300px;
    background-size: cover;
}

.follow_btn {
    text-decoration: none;
    position: absolute;
    left: 35%;
    top: 42.5%;
    width: 35%;
    height: 15%;
    background-color: #007FBE;
    padding: 10px;
    padding-top: 6px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border: 4px solid #007FBE;
}

.follow_btn:hover {
    text-decoration: none;
    position: absolute;
    left: 35%;
    top: 42.5%;
    width: 35%;
    height: 15%;
    background-color: #007FBE;
    padding: 10px;
    padding-top: 6px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border: 4px solid rgba(255, 255, 255, 0.8);
}

.header{
    color : #808080;
    margin-left:10%;
    margin-top:70px;
}

.picture{
    height:150px;
    width:150px;
    position:absolute;
    top: 75px;
    left:-75px;
}

.picture_mob{
    position: absolute;
    width: 35%;
    left: 35%;
    bottom: 70%;
}

.btn-style{
    color: #fff;
    background-color: #007FBE;
    border-color: #adadad;
    width: 33.3%;
}

.btn-style:hover {
    color: #333;
    background-color: #3D5DE0;
    border-color: #adadad;
    width: 33.3%;

}


@media (max-width: 767px) {
    .header{
        text-align : center;
    }



    .nav{
        margin-top : 30px;
    }
}

div.chat_wrap {
    bottom: 0;
    display: block;
    font-size: .85em;
    position: fixed;
    right: 3rem;
    width: 255px;
}

div.chat_wrap > div.toggle {
    background: rgb(250,250,250);
    background: linear-gradient(to bottom, rgb(250,250,250) 0%,rgb(240,240,240) 100%);
    border: 1px solid rgba(0,0,0,.1);
    color: rgba(0,0,0,.4);
    display: none;
    font-weight: bold;
    padding: .45rem 0;
    text-align: center;
}

.toggle:hover {
    cursor: pointer;
}

div.chat {
    display: block;
}

div.chat > header {
    background-color: rgb(76, 102, 164);
    background: linear-gradient(to bottom, rgba(76,102,164,1) 0%,rgba(62,77,132,1) 100%);
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 2px 2px 0 0;
    display: block;
    line-height: 2.25rem;
}

div.chat > header > h3 {
    color: rgb(255,255,255);
    display:block;
    margin: 0;
    padding: 0;
    text-align: center;
}

div.chat > div.chatArea {
    background: rgb(250,250,250);
    border: 1px solid rgba(0,0,0,.1);
    border-top: none;
    display: block;
    height: 160px;
    font-size: .9em;
    overflow: auto;
    padding: .25rem .65rem;
}

div.chat > div.chatArea > ul {
    list-style-type: none;
}

div.chat > div.chatArea > ul > li {
    padding: 0 0 .45rem;
}

div.chat > div.chatArea > ul > li.time {
    color: rgba(0,0,0,.35);
    font-size: .85em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

div.chat input {
    border: none;
    border: 1px solid rgba(0,0,0,.1);
    border-top: none;
    display: block;
    padding: .35rem .5rem;
    width: 100%;
}
