/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}
.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */
.header-container {
    border-bottom: 20px solid #e44d26;
}
.footer-container, .main aside {
    border-top: 20px solid #e44d26;
}
.header-container, .footer-container, .main aside {
    background: #f16529;
}
.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: #e44d26;
}
nav a:hover, nav a:visited {
    color: white;
}
nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */
.main {
    padding: 30px 0;
}
.main article h1 {
    font-size: 2em;
}
.main aside {
    color: white;
    padding: 0px 5% 10px;
}
.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
    background-color: #f5f5f5;
}

#result{
    padding: 40px;
}

/* search input */
.beforeSearch .search {
    position: relative;
    height: 40px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.beforeSearch #logo:after {
    content: url(../img/logo.png);
}
.beforeSearch .search input[type='url'] {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    padding-right: 50px;
    z-index: 1;
    border: none;
    background-image: url(../img/domain-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 50px;
    font-size: 14pt;
    border: 1px solid #C8C8C8;
}
.beforeSearch .search input[type='button'] {
    z-index: 2;
    position: absolute;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    right: 0px;
}
.beforeSearch .controll {
    margin-top: 33px;
    text-align: center;
}
.beforeSearch button {
    background-color: #f2f2f2;
    border: none;
    font-weight: bold;
    font-size: 14pt;
    padding: 5px 10px;
    color: #606060;
    border: 1px solid #AAAAAA;
}

/*  */
.beforeSearch {
    margin: auto;
    max-width: 600px;
    margin-top: 55px;
}

/*---------------- after search -----------------------*/
.afterSearch {
    background-color: #e5e5e5;
    max-width: 100%;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    clear: both;
    border-bottom: 1px solid #C8C8C8;
}
.afterSearch #logo {
    display: outline;
    float: left;
}
.afterSearch .search {
    position: relative;
    height: 40px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
}
.afterSearch .search input[type='url'] {
    width: 100%;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 100px;
    z-index: 1;
    border: none;
    background-image: url(../img/domain-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 50px;
    font-size: 14pt;
    border: 1px solid gray;
    float: left;
}
.afterSearch .search input[type='button'] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    float: right;
    width: 50px;
    margin-left: -50px;
}
.afterSearch .controll {
    text-align: center;
    float: right;
}
.afterSearch button {
    background-color: #f2f2f2;
    border: none;
    font-weight: bold;
    font-size: 14pt;
    padding: 5px 10px;
    color: #606060;
    border: 1px solid #AAAAAA;
}
.afterSearch #logo:after {
    content: url(../img/logo-small.png);
}

/* ---------------------------------------------------------------------------------*/
#searchResult {
}
.displayNone {
    display: none;
}
.displayBlock {
    display: block;
}
#loading {
    width: 100%;
    height: 100%;
    text-align: center;
}
.itemBody{
    display: none;
}
#popWrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(100,100,100,.6);
}
#popMessage{
    width: 70%;
    background-color: #f3f3f3;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 100px auto;
    padding: 20px;
}
.item{
    border: none;
    width: 100%;
    text-align: left;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width:480px) {

    /* ====================
        INTERMEDIATE: Menu
       ==================== */
    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }
    nav li:first-child a {
        margin-left: 0;
    }
    nav li:last-child a {
        margin-right: 0;
    }

    /* ========================
        INTERMEDIATE: IE Fixes
       ======================== */
    nav ul li {
        display: inline;
    }
    .oldie nav a {
        margin: 0 0.7%;
    }
}
@media only screen and (min-width:768px) {

    /* ====================
        WIDE: CSS3 Effects
       ==================== */
    .header-container, .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
        box-shadow: 0 5px 10px #aaa;
    }

    /* ============
        WIDE: Menu
       ============ */
    .title {
        float: left;
    }
    nav {
        float: right;
        width: 38%;
    }

    /* ============
        WIDE: Main
       ============ */
    .main article {
        float: left;
        width: 57%;
    }
    .main aside {
        float: right;
        width: 28%;
    }
}
@media only screen and (min-width:1140px) {

    /* ===============
        Maximal Width
       =============== */
    .wrapper {
        width: 1026px;        /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
    *, *:before, *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " ("attr(href) ")";
    }
    abbr[title]:after {
        content: " ("attr(title) ")";
    }
    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}