* { 
	margin:0; 
	padding:0; 
}
#main-wrapper{
	margin: auto;
	width: 1200px;
}
h1{
	text-align: center;
}
.wrapper { 
	height:500px; 
	width:400px; 
	background:#b3ecff; 
	display:table-cell; 
	vertical-align:bottom; 
	border: 1px solid gray;
	background-size: 100%;
	position: relative;
	z-index: 0;
}
.content { 
	max-height:500px;  
	width: 100%;
	z-index: 0;
}
.content div { 
	padding:10px; 
	border-top: 1px solid black; 
}

.tower{
	position: absolute;
	top: 0px;
	height: 500px;
	width: 390px;
	z-index: -1;
}

.r{
	text-align: center;
	color: white;
	font-weight: bold;
	margin: auto;
	background-color: green;
	border-radius: 25px;
}

.r1{
	width: 50px;
}

.r2{
	width: 80px;
}
.r3{
	width: 110px;
}
.r4{
	width: 140px;
}
.r5{
	width: 170px;
}
.r6{
	width: 200px;
}
.r7{
	width: 230px;
}
.r8{
	width: 260px;
}
.r9{
	width: 290px;
}
.r10{
	width: 320px;
}
.r11{
	width: 350px;
}
.r12{
	width: 380px;
}
.r13{
	width: 390px;
}